body {
  /* background-image: linear-gradient(90deg, #4e8eee 30%, #6933a7 90%); */
  background-image: linear-gradient(
    to right,
    #0c1421,
    #110e1a,
    #100912,
    #0b0408,
    #000000
  );
  background-repeat: repeat-y;
  background-size: cover;
  margin: 10px;
  padding: 10px;
  /* height: 95vh; */
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 40px;
  min-height: 100%;
}
.stickyFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  background-image: linear-gradient(
    to right,
    #0c1421,
    #110e1a,
    #100912,
    #0b0408,
    #000000
  );
  color: white;
  text-align: center;
  font-size: 15px;
}
